.media-card {
  border-radius: var(--border-radius-s);
  box-shadow: -2rem 2rem var(--color-background-shadow);
  height: 22rem;
  margin: var(--spacer-l);
  width: 26.6rem;

  img {
    border: 0.1rem solid var(--color-primary);
    border-radius: var(--border-radius-s);
    height: 22rem;
    object-fit: cover;
    width: 26.6rem;
  }

  &--extended {
    width: 57.2rem;

    img {
      width: 57.2rem;
    }
  }
}
