.overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.mobile-menu {
  animation: slide 0.3s ease-in-out;
  background-color: var(--color-white);
  box-shadow: 0 0 0 1000rem rgba(0, 0, 0, 0.2),
    0.3rem 0 0.5rem var(--color-background-shadow);
  font-family: var(--font-family);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 28rem;
  z-index: 999;

  &__link {
    border-left: 4px solid transparent;
    color: var(--color-primary);
    display: block;
    font-size: var(--font-size);
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    text-decoration: none;

    &:active {
      border-left: 4px solid var(--color-primary);
    }

    &:hover {
      background-color: var(--color-background-links-hover);
      border-left: 4px solid var(--color-primary);
    }
  }

  .active {
    color: var(--color-secondary);
    font-weight: bold;
  }

  &__logo {
    svg {
      padding: 1rem 1rem 0;
      width: 24rem;
    }
  }

  &__link-icon {
    height: 0.8rem;
    margin-left: 0.6rem;
    width: 1.4rem;
  }

  .dropdown-menu {
    background-color: var(--color-white);
    border: 1px solid var(--color-background-shadow);
    border-radius: 0.3rem;
    box-shadow: 0.3rem 0 0.5rem var(--color-background-shadow);
    display: none;
    font-size: var(--font-size);
    left: 100%;
    margin-top: -1px;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 20rem;
    z-index: 999;

    &__link {
      color: var(--color-primary);
      display: block;
      margin-bottom: 1rem;
      padding: 0.6rem 1rem;
      text-decoration: none;

      &:hover {
        background-color: var(--color-background-links-hover);
      }
    }

    &__link-icon {
      height: 0.8rem;
      margin-left: 0.6rem;
      width: 1.4rem;
    }
  }

  .submenu {
    display: block;
    height: 100%;
    margin-left: 7rem;
    margin-top: -1rem;
    position: absolute;
  }

  @keyframes slide {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }
}
