.video-box {
  align-items: center;
  border-radius: 11.25rem;
  display: flex;
  height: 38.75rem;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 38.75rem;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    top: 0.2rem;
  }

  img {
    height: 38.75rem;
    object-fit: cover;
    width: 100%;
  }

  &__button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    height: 38.75rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 38.75rem;

    &__svg {
      width: 5.5rem;
    }
  }
}
