.video-box {
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 29%;
  display: flex;
  justify-content: center;
  min-width: 40rem;
  overflow: hidden;
  position: relative;

  &:hover {
    opacity: 0.7;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__button {
    background-color: transparent;
    border: transparent;
    bottom: 0;
    cursor: pointer;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;

    &__svg {
      width: 15%;
    }
  }
}
