.backticks {
  font-family: var(--font-family-headings);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 0;

  &__start {
    position: absolute;
  }

  &__end {
    bottom: 0;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
  }
}
