:root {
  --font-size: 1.8rem;
  --font-size-headings: 4.8rem;
  --color-primary: #3d3691;
  --color-secondary: #0048c1;
  --color-tertiary: #0b555f;
  --color-quaternary: #b40031;
  --color-violet: #3d3691;
  --color-white: #fff;
  --color-error: #f00;
  --color-transparent: transparent;
  --color-background-links-hover: #f6f5f7;
  --color-background-shadow: #f6f5f7;
  --color-main-text: #3e3c4e;
  --font-size-base: 1.6rem;
  --font-family: 'Raleway', sans-serif;
  --font-family-headings: 'Montserrat', sans-serif;
  --line-height-base: 1.2;
  --line-height-headings: 5.9;
  --animation-speed: 0.5s;

  /* Spacers */
  --spacer-xxs: 0.4rem;
  --spacer-xs: 0.8rem;
  --spacer-s: 1.2rem;
  --border-radius-s: 1.5rem;
  --border-radius-m: 2rem;
  --border-radius-l: 2.5rem;
  --border-radius-xl: 3rem;
  --border-radius-xxl: 3.5rem;
  --border-radius-xxxl: 4rem;
  --border-radius-xxxxl: 4.5rem;
  --border-radius-xxxxxl: 5rem;
  --border-radius-xxxxxxl: 4.8rem;
  --spacer-m: 1.6rem;
  --spacer: var(--spacer-m); /* alias for --spacer-m */
  --spacer-l: 2rem;
  --spacer-xl: 2.4rem;
  --spacer-xxl: 3.2rem;
  --spacer-xxxl: 4rem;
  --border-radius-m: 1.5rem;
}

$heading-all-levels: (
  h1: 4.8rem,
  h2: 3.2rem,
  h3: 1.8rem,
  h4: 1.8rem,
  h5: 1.8rem,
  h6: 1.8rem,
);

$themes: (
  primary: var(--color-primary),
  secondary: var(--color-secondary),
  tertiary: var(--color-tertiary),
  quaternary: var(--color-quaternary),
);
