:root {
  --font-size: 1.8rem;
  --color-primary: #3d3691;
  --color-secondary: #404cfa;
  --color-violet: #3d3691;
  --color-white: #fff;
  --color-background-links-hover: #f6f5f7;
  --color-background-shadow: #f6f5f7;
  --font-size-base: 1.6rem;
  --font-family: 'Raleway', sans-serif;
  --line-height-base: 1.5;

  /* Spacers */
  --spacer-xxs: 0.4rem;
  --spacer-xs: 0.8rem;
  --spacer-s: 1.2rem;
  --spacer-radius-s: 1.5rem;
  --spacer-radius-m: 2rem;
  --spacer-radius-l: 2.5rem;
  --spacer-m: 1.6rem;
  --spacer: var(--spacer-m); /* alias for --spacer-m */
  --spacer-l: 2rem;
  --spacer-xl: 2.4rem;
  --spacer-xxl: 3.2rem;
  --spacer-xxxl: 4rem;
}
