@import '../../sass/variables.scss';

.text-button-container {
  display: flex;
  flex-direction: column;
  padding-right: 10rem;

  &--right {
    align-items: flex-end;
    padding-left: 10rem;
    padding-right: 0;
  }

  &__title {
    color: var(--color-primary);

    @each $key, $val in $heading-all-levels {
      &--#{$key} {
        font-family: var(--font-family-headings);
        font-size: $val;
      }
    }

    &--right {
      padding-left: 10rem;
      padding-right: 0;
      text-align: right;
    }
  }

  &__text {
    padding-right: 5rem;

    &--right {
      padding-left: 5rem;
      padding-right: 0;
      text-align: right;
    }
  }

  &__button {
    max-width: fit-content;
  }
}
