@import '../../sass/variables';
@import '../../sass/media-queries';

.admission-wrapper {
  width: 100%;

  li {
    list-style: none;
    margin-left: $spacing-m;
    position: relative;

    &::before {
      content: '•';
      font-size: 5rem;
      left: -2.4rem;
      line-height: 0.5;
      position: absolute;
      top: 0;
      @each $key, $val in $themes {
        &--#{$key} {
          color: $val;
        }
      }
    }
  }

  @include media-query-mobile {
    .text-action-container__text {
      margin-left: unset;
      text-align: start;
    }
  }
}
