@import '../../sass/variables';
@import '../../sass/media-queries';

.admission-wrapper {
  $this: &;

  width: 100%;

  &__point {
    @each $key, $val in $themes {
      &--#{$key}::before {
        color: $val;
      }
    }
  }

  li {
    list-style: none;
    margin-left: $spacing-m;
    position: relative;

    &::before {
      content: '•';
      font-size: 5rem;
      left: -2.4rem;
      line-height: 0.5;
      position: absolute;
      top: 0;
    }
  }

  &__right-column {
    display: flex;
    flex-direction: column;
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    svg {
      max-width: 51rem;
    }

    @include media-query-mobile {
      justify-content: center;
    }
  }
}
