.svg-promo{
    position: absolute;
    right: 0px;
}

.svg-content-dev{
    position: absolute;
    right: 0px;
    top:10px;
}

.svg-content-test{
    position: absolute;
    left: 0px;
    top:10px;
}

.svg-content-frend{
    position: absolute;
    left: 0px;
    top:10px;
}

.svg-content-kids{
    position: absolute;
    right: 0px;
    top:10px;
}