@import '../../sass/variables';

$_button-background-color: #584dfc;

.button {
  background-color: $_button-background-color;
  border: 0;
  border-radius: $radius-xxxl;
  color: $color-white #fff;
  cursor: pointer;
  font-family: $font-family;
  font-size: $font-size-m;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 6rem;
  padding: $spacing-s $spacing-xl;

  &:hover {
    opacity: 0.8;
  }
}
