@import '../../sass/variables';

.schedule-card-header {
  margin: 0;

  &__action {
    @each $key, $val in $themes {
      &--#{$key} {
        background-color: $val;
      }
    }

    border: 0;
    color: $clr-white;
    display: flex;
    font-size: $font-size-m;
    font-weight: 700;
    justify-content: space-between;
    padding: $spacing-m;
    text-align: left;
    width: 100%;

    &--open {
      border-radius: 0 $radius-s 0 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    align-self: center;
    display: flex;
    flex-shrink: 0;
    margin-left: $spacing-xxl;
    transition: transform 0.5s ease-in-out;
    width: 2rem;

    &--rotated {
      transform: rotate(180deg);
    }
  }
}
