$themes: (
  primary: var(--color-primary),
  secondary: var(--color-secondary),
  tertiary: var(--color-tertiary),
  quaternary: var(--color-quaternary),
);

.card-container {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 4.8rem;
    font-weight: 700;
    margin: 0;
    padding: var(--spacer-l) 0;

    &--center {
      align-self: center;
    }

    &--right {
      align-self: end;
    }

    @each $key, $val in $themes {
      &--#{$key} {
        color: $val;
      }
    }
  }
}
