$academies: (
  home-page: var(--color-primary),
  developers: #0048c1,
  testers: #0b555f,
  front-end: #b40031,
);

.card-container {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;

  &__title {
    font-size: 4.8rem;
    font-weight: 700;
    margin: 0;
    padding: 4rem;

    &--left {
      align-self: start;
    }

    &--center {
      align-self: center;
    }

    &--right {
      align-self: end;
    }

    @each $key, $val in $academies {
      &--#{$key} {
        color: $val;
      }
    }
  }

  &__content {
    padding: 0 4rem;
  }
}
