.text-img-container {
  align-items: center;
  border: 2px solid black;
  column-gap: 15%;
  display: flex;
  flex-direction: row;
  max-width: 140rem;
  overflow: hidden;
  position: relative;

  &--left {
    margin-left: 0;
    margin-right: auto;
  }

  &--center {
    margin: auto;
  }

  &--right {
    margin-left: auto;
    margin-right: 0;
  }

  &__left {
    border: 2px solid turquoise;
    flex: 1;
    text-align: left;
  }

  &__right {
    flex: 1;
    text-align: right;
  }
}
