.carousel {
  &__button {
    background: none;
    border: none;
    color: var(--color-violet);
    cursor: pointer;
    font-size: var(--font-size);
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    &:hover,
    &:focus {
      color: var(--first-color);
      opacity: 1;
    }

    &--prev {
      left: 1rem;
    }

    &--next {
      right: 1rem;
    }
  }

  &__image {
    max-height: 80vh;
    max-width: 80vw;
  }

  &__arrow {
    background: 0;
    border: solid var(--color-black);
    border-bottom: 3px solid var(--color-white);
    border-right: 3px solid var(--color-white);
    border-width: 0 3px 3px 0;
    cursor: pointer;
    display: inline-block;
    height: 2.3rem;
    padding: 0.5rem;
    transform: rotate(-45deg);
    width: 23px;

    &--left {
      transform: rotate(135deg);
    }

    &--right {
      transform: rotate(-45deg);
    }
  }

  .video-player {
    max-height: 80vh;
    max-width: 80vw;
    width: unset;
  }
}
