@import '../../sass/variables';

.question-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxl;

  &__item {
    flex: 1;
  }

  &__link {
    color: $color-primary;
    font-weight: $font-weight-bold;
    margin-left: $spacing-s;
    text-decoration: none;
  }
}
