$themes: (
  primary: var(--color-primary),
  secondary: var(--color-secondary),
  tertiary: var(--color-tertiary),
  quaternary: var(--color-quaternary),
);

.wave-container {
  @each $key, $val in $themes {
    &--#{$key} {
      svg {
        path {
          stroke: $val;
          stroke-width: 0.2rem;
        }
      }
    }
  }
}
