@import '../../sass/variables';
@import '../../sass/media-queries';

$padding-size-m: 5rem;
$padding-size-l: 10rem;

.text-action-container {
  display: flex;
  flex-direction: column;

  &--right {
    align-items: flex-end;
  }

  &__title {
    color: var(--color-primary);

    @each $key, $val in $heading-all-levels {
      @if #{$key} == h1 {
        &--#{$key} {
          font-family: var(--font-family-headings);
          font-size: $val;
          font-weight: 700;
        }
      } @else {
        &--#{$key} {
          font-family: var(--font-family-headings);
          font-size: $val;
          margin: 1rem 0;
        }
      }
    }

    &--right {
      padding-left: $padding-size-m;
      padding-right: 0;
      text-align: right;
    }

    &--wrap {
      word-spacing: 100rem;
    }
  }

  &__text {
    color: var(--color-main-text);
    font-family: var(--font-family);
    font-size: 1.8rem;
    line-height: var(--line-height-small);
    padding-right: $padding-size-m;

    &--right {
      padding-left: $padding-size-m;
      padding-right: 0;
      text-align: right;
    }
  }

  &__action {
    max-width: fit-content;
  }

  @include media-query-mobile {
    &--right {
      align-items: center;
    }

    &__title {
      &--right {
        font-size: 3rem;
        padding: 0;
        text-align: center;
      }

      &--left {
        font-size: 3rem;
        padding: 0;
        text-align: center;
      }
    }

    &__text {
      font-size: 1.6rem;
      margin-bottom: 4rem;
      margin-left: auto;
      margin-top: 1rem;
      padding: 0;
      text-align: center;
    }
  }
}
