@import '../../sass/variables';
$padding-size-m: 5rem;
$padding-size-l: 10rem;

.text-action-container {
  display: flex;
  flex-direction: column;

  &--right {
    align-items: flex-end;
  }

  &__title {
    color: var(--color-primary);

    @each $key, $val in $heading-all-levels {
      @if #{$key} == h1 {
        &--#{$key} {
          font-family: var(--font-family-headings);
          font-size: $val;
          font-weight: 700;
        }
      } @else {
        &--#{$key} {
          font-family: var(--font-family-headings);
          font-size: $val;
          margin: 1rem 0;
        }
      }
    }

    &--right {
      padding-left: $padding-size-l;
      padding-right: 0;
      text-align: right;
    }
  }

  &__text {
    color: var(--color-main-text);
    font-family: var(--font-family);
    font-size: 1.8rem;
    line-height: var(--line-height-small);
    padding-right: $padding-size-m;

    &--right {
      padding-left: $padding-size-m;
      padding-right: 0;
      text-align: right;
    }
  }

  &__action {
    max-width: fit-content;
  }
}
