@mixin wave-position($width, $direction, $direction_val, $translate_val) {
  position: absolute;
  transform: translateY($translate_val);
  width: $width;
  z-index: -1;
  #{$direction}: $direction_val;
}

.section-group {
  display: flex;
  min-height: 40rem;
  padding: 12rem 0;
  position: relative;

  &__video-wave {
    @include wave-position(48%, right, 0, 15%);
  }

  &__register-wave {
    @include wave-position(35%, left, 7rem, 220%);
  }

  &__schedule-wave {
    @include wave-position(3.5%, right, -7rem, 12%);
  }

  &__media-wave {
    @include wave-position(10%, left, -7rem, 11%);
  }

  &__apply-wave {
    @include wave-position(17%, right, -2rem, -20%);
  }
}
