.section-group {
  display: flex;
  padding: 12rem 4rem;
  position: relative;

  &__firstWave {
    position: absolute;
    right: -2.5rem;
    transform: translateY(-25%);
    width: 70rem;
    z-index: -1;
  }

  &__secondWave {
    left: -2.5rem;
    position: absolute;
    transform: translateY(-20%);
    width: 65rem;
    z-index: -1;
  }

  &__thirdWave {
    position: absolute;
    right: 0;
    transform: translateY(-15%);
    width: 65rem;
    z-index: -1;
  }

  &__fourthWave {
    left: 0;
    position: absolute;
    transform: translateY(-35%);
    width: 32.5rem;
    z-index: -1;
  }
}
