.debug {
  border: 1px solid red;
}

.section-group {
  @extend .debug;

  display: flex;
  // max-width: 140rem;
  padding: 10rem 0;
  position: relative;

  &__rightWave {
    @extend .debug;

    position: absolute;
    right: 0;
    transform: translateY(-25%);
    width: 50%;
    z-index: -1;
  }

  &__leftWave {
    @extend .debug;

    left: 0;
    position: absolute;
    transform: translateY(-25%);
    width: 50%;
    z-index: -1;
  }
}
