.modal-container {
  &__content {
    background: #fff;
    bottom: 10%;
    height: 450px;
    left: 0;
    margin: auto;
    overflow: auto;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 20%;
    width: 700px;
    z-index: 100;

    &--min {
      height: 250px;
      width: 400px;
    }

    &--max {
      height: 652px;
      width: 1084px;
    }
  }

  &__overlay {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }
}
