// Min-width: 480px (small devices and most phones)
// Min-width: 768px (most tablets)
// Min-width: 992px (smaller desktop viewpoints)
// Min-width: 1200px (large devices and wide screens)

$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
$breakpoint-laptop: 992px;

.modal-container {
  &__content {
    background: #fff;
    bottom: 10%;
    left: 0;
    margin: auto;
    overflow: auto;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 20%;
    width: 700px;
    z-index: 100;

    @media (max-width: $breakpoint-phone) {
      width: 380px;
    }

    &--min {
      width: 450px;
    }

    &--max {
      width: 1084px;

      @media (max-width: $breakpoint-laptop) {
        width: 700px;
      }
      @media (max-width: $breakpoint-phone) {
        width: 380px;
      }
    }
  }

  &__overlay {
    background: rgba(0, 0, 0, 0.5);
    border: hidden;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }
}
