@import '../../sass/variables';

.process-step-image {
  $this: &;

  height: 100%;
  width: auto;

  &__svg-element {
    height: 100%;
    width: auto;
  }

  @each $key, $val in $themes {
    &--#{$key} {
      #{$this}__accent-element-1 {
        fill: map-get($theme-accents, #{$key}, accent-1);
      }

      #{$this}__accent-element-2 {
        fill: map-get($theme-accents, #{$key}, accent-2);
      }
    }
  }
}
