.dropdown {
  border-radius: 0.5rem;
  box-shadow: (0 1rem 3rem rgba(0, 0, 0, 0.15));
  display: none;
  margin-left: -5rem;
  padding: 0.7rem 0;
  position: absolute;
  width: 20rem;
  z-index: 9999;

  &::after {
    border-bottom: solid 1.5rem #fff;
    border-left: solid 1.5rem transparent;
    border-right: solid 1.5rem transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1;
  }

  &.show {
    display: block;
  }

  &__links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 4.8rem;
    justify-content: center;
    padding: 1.6rem;
    width: 20rem;

    &:hover {
      background-color: var(--color-background);
    }
  }

  a {
    font-size: 1.4rem;
    text-decoration: none;
  }
}
