.dropdown {
  background-color: var(--primary-color);
  border-radius: var(--spacer-xxs);
  box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.2);
  color: var(--white);
  display: none;
  padding: var(--spacer-s) 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
}
