.dropdown {
  align-items: center;
  align-self: stretch;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  display: none;
  flex-direction: row;
  height: 221px;
  list-style: none;
  padding: 0 20;
  position: absolute;
  width: 200px;
  z-index: 9999;
}

.dropdown.show {
  display: block;
}
