@import '../../../sass/variables';

.navbar {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  height: 96px;
  justify-content: space-between;
  line-height: 21px;
  padding-inline: 10vw;
  width: 100%;

  .logo {
    height: 40px;
    width: 222px;
  }

  .nav-links {
    display: flex;
    height: 21px;
    justify-content: space-between;
    width: 490px;

    .nav-link {
      color: var(--primary-color);
      font-size: 18px;
      letter-spacing: 1px;
      text-decoration: none;
      white-space: nowrap;
    }

    .navbar-icon {
      height: 8px;
      margin-left: 6px;
      width: 14px;
    }
  }
}
