@import '../../sass/variables';
@import '../../sass/base/typography';
@import '../../sass/media-queries';

.navbar {
  align-items: center;
  background: var(--color-white);
  color: var(--color-primary);
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  padding: 0 4rem;
  width: 100%;

  &__logo {
    height: 4rem;
    width: 22.2rem;

    @include media-query-desktop {
      font-size: 1.2em;
    }
  }

  &__links {
    background-color: var(--color-white);
    display: flex;
    font-family: var(--font-family);
    height: 2.1rem;
    justify-content: space-between;
    padding: 0;
    width: 49rem;

    @include media-query-mobile {
      animation: slide 0.3s ease-in-out;
      background-color: var(--color-white);
      box-shadow: 0 0 0 1000rem rgba(0, 0, 0, 0.2),
        0.3rem 0 0.5rem var(--color-background-shadow);
      display: block;
      font-family: var(--font-family);
      height: 100%;
      left: 0;
      position: fixed;
      text-align: start;
      top: 0;
      width: 28rem;
      z-index: 999;

      &.is-hidden {
        display: none;
      }
    }

    &__logo {
      display: none;
      padding: 1rem 1rem 0;
      width: 24rem;

      @include media-query-mobile {
        display: block;
      }
    }
  }
  @include media-query-mobile {
    @keyframes slide {
      from {
        transform: translateX(-100%);
      }

      to {
        transform: translateX(0);
      }
    }
  }

  .overlay {
    border: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;

    &.is-hidden {
      display: none;
    }

    @include media-query-not-mobile {
      display: none;
    }
  }
}
