@import '../../sass/variables';
@import '../../sass/base/typography';

.navbar {
  align-items: center;
  color: var(--color-primary);
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  line-height: 2.1rem;
  padding: 0 4rem;
  width: 100%;

  &__logo {
    height: 4rem;
    width: 22.2rem;
  }

  &__links {
    display: flex;
    height: 2.1rem;
    justify-content: space-between;
    width: 49rem;

    .active {
      color: var(--color-secondary);
      font-weight: 600;
    }

    &--link {
      color: var(--color-primary);
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      text-decoration: none;
    }

    &--link-icon {
      height: 0.8rem;
      margin-left: 0.6rem;
      width: 1.4rem;
    }
  }
}

.sidebar-btn {
  display: none;
  height: 2.8rem;
  position: relative;
  width: 3rem;
}

.bar {
  background-color: var(--color-primary);
  border-radius: var(--border-radius-xxxxxl);
  height: 0.5rem;
  position: absolute;
  transition: transform calc(var(--animation-speed) * 0.5s);
  width: 100%;
  z-index: 5;
}

.bar:nth-child(1) {
  top: 0;
}

.bar:nth-child(2) {
  top: 50%;
  transform: scaleX(0.8) translateY(-50%);
}

.bar:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}

.sidebar-btn.active .bar:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  transform-origin: center;
}

.sidebar-btn.active .bar:nth-child(2) {
  top: 50%;
  transform: scaleX(0) translateY(-50%);
  transform-origin: center;
}

.sidebar-btn.active .bar:nth-child(3) {
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
  transform-origin: center;
}

@media screen and (max-width: 1220px) {
  .navbar__logo {
    font-size: 1.2em;
  }

  .navbar__links {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 840px) {
  .navbar__logo {
    font-size: 1.2em;
  }

  .navbar__links {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 798px) {
  .navbar__logo {
    font-size: 1.2em;
  }

  .navbar__links {
    display: none;
  }

  .sidebar-btn {
    display: block;
  }
}
