@import '../../sass/variables';
@import '../../sass/base/typography';
@import '../../sass/media-queries';

.navbar {
  align-items: center;
  background: var(--color-white);
  color: var(--color-primary);
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  padding: 0 4rem;
  width: 100%;

  &__logo {
    height: 4rem;
    width: 22.2rem;

    @include media-query-desktop {
      font-size: 1.2em;
    }
  }

  &__links {
    display: flex;
    height: 2.1rem;
    justify-content: space-between;
    width: 49rem;

    @include media-query-mobile {
      display: none;
    }
  }
}
