.navbarlink {
  color: var(--color-primary);
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-decoration: none;

  &.active {
    color: var(--color-secondary);
    font-weight: 600;
  }

  &__icon {
    height: 0.8rem;
    margin-left: 0.6rem;
    width: 1.4rem;
  }
}
