@import '../../sass/variables';

$_line-height-small: 1.5;
$_border-radius: 0.3rem;
$_checkbox-hover-color: #9a9999ff;

.checkbox {
  $this: &;

  align-items: flex-start;
  display: flex;

  &__fake {
    border: 2px solid $checkbox-color;
    border-radius: $_border-radius;
    cursor: pointer;
    height: 2.2rem;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 2.2rem;

    &--is-error {
      border: 2px solid $color-error;
    }

    &::before {
      color: $checkbox-color;
      content: '✔';
      font-size: 2rem;
      opacity: 0;
    }
  }

  input {
    opacity: 0;
    position: absolute;
    width: 0;

    &:hover {
      + #{$this}__fake {
        border-color: $_checkbox-hover-color;
        /* stylelint-disable */
        &::before {
          color: $_checkbox-hover-color;
        }
        /* stylelint-enable */
      }
    }

    &:focus {
      + #{$this}__fake {
        border-color: $_checkbox-hover-color;
      }
    }

    &:checked {
      + #{$this}__fake {
        border-color: $checkbox-color;

        /* stylelint-disable */
        &::before {
          opacity: 1;
        }
        /* stylelint-enable */
      }
    }
  }

  &__label {
    flex: 1;
    font-family: $font-family;
    font-size: $font-size-m;
    font-weight: 400;
    line-height: $_line-height-small;
    padding-left: $spacing-xxxl;
    position: relative;
  }
}
