@import '../../sass/variables';
@import '../../sass/media-queries';

.process-container-wrapper {
  display: grid;
  grid-column-gap: 8rem;
  grid-template-columns: 1fr 1fr;

  @include media-query-tablet {
    display: block;
  }

  &__step:nth-child(even) {
    margin-top: 10rem;

    @include media-query-tablet {
      margin-top: 0;
    }
  }

  &__step:not(:last-child) {
    @include media-query-tablet {
      margin-bottom: $spacing-m;
    }
  }
}
