@import '../../sass/variables';
@import '../../sass/media-queries';

.process-container-wrapper {
  border: 1px solid $color-black;
  column-gap: $spacing-s;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include media-query-mobile {
    display: block;
  }

  &__left-column {
    border: 1px solid $color-quaternary;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: fit-content;
  }

  &__right-column {
    border: 1px solid $color-quaternary;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: fit-content;
    margin-top: 10rem;

    @include media-query-mobile {
      margin-top: 0;
    }
  }

  &__step {
    flex: 0.5;
  }
}
