.sidebar {
  animation: slide 0.3s ease-in-out;
  background-color: var(--color-background-links-hover);
  box-shadow: 0 0 0 1000rem rgba(0, 0, 0, 0.2),
    0.3rem 0 0.5rem var(--color-background-shadow);
  font-family: var(--font-family);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 28rem;
  z-index: 999;

  &__link {
    border-left: 0.4rem solid transparent;
    color: var(--color-primary);
    display: block;
    font-size: var(--font-size);
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
  }

  :active {
    border-left: 0.4rem solid var(--color-primary);
  }

  :hover {
    background-color: var(--color-background-links-hover);
    border-left: 0.4em solid var(--color-primary);
  }

  .active {
    color: var(--color-secondary);
    font-weight: bold;
  }

  &__link svg {
    margin-right: 0.5rem;
    width: 1.2rem;
  }

  &__logo {
    line-height: 2.1rem;
    padding-left: 1.4rem;
  }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
