//Variables
$_color-twitter: #1da1f2;
$_color-facebook: #3b5998;
$_color-instagram: #8a3ab9;
$_color-white: #fff;
$_color-primary: #3d3691;;

.footer {
  align-items: center;
  background: $_color-white;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacer-xxxl);
  z-index: 1;

  &__social-icons {
    align-items: flex-end;
    display: flex;
    justify-content: center;
  }

  &__social-icon {
    height: 4rem;
    margin: 1rem;
    width: 4rem;

    &:hover {
      .icon-background {
        fill: none;
    }
  }
  
    &--facebook:hover {
      .icon-logo {
        fill: $_color-facebook;
        stroke: $_color-facebook;
    }
  }

    &--twitter:hover {
      .icon-logo {
        fill: $_color-twitter;
        stroke: $_color-twitter;
    }
  }

    &--instagram:hover {
      .icon-logo {
        fill: none;
        stroke: $_color-instagram;
    }
  }
  }

  &__copyright {
    color: $_color-primary;
    font-size: 1.4rem;
    margin: 1rem;
  }
}
