.footer {
  align-items: center;
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacer-xxxl);
  position: relative;
  width: 100%;
  z-index: 1;

  &__social-icons {
    align-items: flex-end;
    display: flex;
    justify-content: center;
  }

  &__social-icon {
    height: 4rem;
    margin: 1rem;
    width: 4rem;

    &--facebook:hover > path {
      fill: none;
    }

    &--twitter:hover > path {
      fill: none;
    }

    &--instagram:hover > path {
      fill: none;
    }

    &--facebook:hover > path:nth-child(2) {
      fill: var(--color-facebook);
      stroke: var(--color-facebook);
    }

    &--twitter:hover > path:nth-child(2) {
      fill: var(--color-twitter);
      stroke: var(--color-twitter);
    }

    &--instagram:hover > path:nth-child(2) {
      fill: none;
      stroke: var(--color-instagram);
    }

    &--instagram:hover > path:nth-child(3) {
      fill: none;
      stroke: var(--color-instagram);
    }
  }

  .footer__copyright {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin: 1rem;
  }
}
