@import '../../sass/variables';
@import '../../sass/media-queries';
$_color-twitter: #1da1f2;
$_color-facebook: #3b5998;
$_color-instagram: #8a3ab9;

.social-media-icon {
  height: 4rem;
  margin: $spacing-s;
  width: 4rem;

  @include media-query-mobile {
    height: 3rem;
    margin: $spacing-xs;
    width: 3rem;
  }

  &:hover {
    .icon-background {
      fill: none;
    }
  }

  &--facebook {
    &:hover {
      .icon-logo {
        fill: $_color-facebook;
        stroke: $_color-facebook;
      }
    }
  }

  &--twitter {
    &:hover {
      .icon-logo {
        fill: $_color-twitter;
        stroke: $_color-twitter;
      }
    }
  }

  &--instagram {
    &:hover {
      .icon-logo {
        fill: none;
        stroke: $_color-instagram;
      }
    }
  }
}
