.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .particles {
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  h1 {
    color: var(--color-tertiary);
    font-size: 48px;
    line-height: 1.25;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 18px;
    margin: 30px 0 0;
    padding: 0;
    text-align: center;
  }

  .vertical-line {
    border-left: 2px solid var(--color-tertiary);
    height: 50px;
    margin: 35px 0 30px;
  }

  .btn-arrow {
    background-color: var(--color-white);
    border-style: none;
    cursor: pointer;
    height: 50px;
    padding: 0;
    width: 50px;
  }
}
