.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .row {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px;
    position: relative;

    .particles {
      position: absolute;
      z-index: -1;
    }

    h1 {
      color: var(--color-tertiary);
      font-size: 48px;
      line-height: 1.25;
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 18px;
      margin: 30px 0 0;
      padding: 0;
      text-align: center;
    }

    .vertical-line {
      border-left: 2px solid var(--color-tertiary);
      height: 50px;
      margin: 35px 0 30px;
    }

    .btn-arrow {
      background-color: var(--color-white);
      border: 2px solid var(--color-tertiary);
      border-radius: 50%;
      cursor: pointer;
      height: 50px;
      position: relative;
      width: 50px;
    }

    .arrow {
      color: var(--color-white);
      left: 0;
      position: absolute;
      right: 0;
      scale: 2.5;
      top: 5px;
    }
  }

  .row-secondary {
    align-items: center;
    display: flex;
    gap: var(--spacer-xxxl);
    justify-content: center;
    margin: 50px 150px;
    position: relative;

    .text-block-start {
      align-items: flex-start;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-start;
    }

    .text-block-end {
      align-items: flex-end;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      text-align: end;
    }

    .particles-left {
      position: absolute;
      right: 50%;
      z-index: -1;
    }

    .particles-right {
      left: 50%;
      position: absolute;
      z-index: -1;
    }

    h2 {
      color: var(--color-tertiary);
      font-size: 32px;
      line-height: 1.25;
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 18px;
      margin: 30px 0 0;
      padding: 0;
      text-align: start;
    }

    .p-start {
      text-align: start;
    }

    .p-end {
      text-align: end;
    }

    .img-block {
      flex: 1;

      .img {
        height: auto;
        z-index: 99;
      }
    }

    .btn-learn {
      background-color: var(--color-violet);
      border: var(--color-violet);
      border-radius: 50px;
      color: var(--color-white);
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.25;
      margin-top: 50px;
      padding: 12px 24px;
      width: 150px;
    }

    .btn-learn:hover {
      background-color: var(--color-tertiary);
    }
  }

  .start {
    align-items: flex-start;
  }
}
