@import '../../sass/variables';
$_line-height: 2.1;

.application-form {
  margin: 8rem 0 4rem;
  padding: 0 10rem 0 4rem;

  &__title-info {
    margin-bottom: 3rem;

    @each $key, $val in $themes {
      &--#{$key} {
        color: $val;
      }
    }
  }

  &__item {
    margin-bottom: 2rem;
  }

  &__wrapper {
    margin: 6rem 0 0;
  }

  &__label {
    color: $color-labels;
    display: block;
    font-family: $font-family;
    font-size: $font-size-s;
    font-weight: 400;
    line-height: $_line-height;
    margin: 6rem 0 1.7rem;
    position: relative;
    right: 0.5rem;

    &::before {
      color: $color-error;
      content: '*';
      font-weight: 700;
      position: relative;
      right: 0.5rem;
    }
  }
}
