@import '../../sass/variables';

$color-labels: #5c5c5c;
$size-labels: 1.4rem;
$size-uploaded: 1.2rem;
$line-height: 2.1;
$color-place-holders: #868686;
$border-color: #999;
$border-color-hover: #000000bc;

.input {
  border: 1px solid $border-color;
  border-radius: $radius-xs;
  color: $color-place-holders;
  font-family: $font-family;
  font-size: $font-size-m;
  font-weight: 400;
  max-width: 51rem;
  padding: 1.2rem;
  width: 100%;

  &:hover {
    border: 1px solid $border-color-hover;
  }

  &__label {
    color: $color-labels;
    display: block;
    font-family: $font-family;
    font-size: $size-labels;
    font-weight: 400;
    line-height: $line-height;
    margin-bottom: 0.5rem;
    position: relative;
    right: 0.5rem;

    &::before {
      color: $color-error;
      content: '*';
      font-weight: 700;
      position: relative;
      right: 0.5rem;
    }
  }

  &__file {
    display: none;
  }

  &__file-label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  &__file-icon {
    width: 2rem;
  }

  &__uploaded {
    color: $color-labels;
    font-family: $font-family;
    font-size: $size-uploaded;
    margin-top: 0.1rem;
  }

  &__error {
    color: $color-error;
    font-size: 1.4rem;
    position: absolute;
  }
}
