@import '../../sass/variables';

$color-labels: #5c5c5c;
$size-labels: 1.4rem;
$line-height: 2.1rem;
$color-place-holders: #868686;
$border-radius: 0.8rem;
$border-color: #999;

.input {
  position: relative;

  &__error {
    color: $color-error;
    font-size: 1.4rem;
    margin-top: 2rem;
    position: absolute;
  }

  &__label {
    color: $color-labels;
    display: block;
    font-family: $font-family;
    font-size: $size-labels;
    font-weight: 400;
    line-height: $line-height;
    position: relative;
    right: 0.5rem;

    &::before {
      color: $color-error;
      content: '*';
      font-weight: 700;
      position: relative;
      right: 0.5rem;
    }

    &--file {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
    }

    &--file-icon {
      width: 2rem;
    }
  }

  &__placeholder,
  &__label--file {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    color: $color-place-holders;
    font-family: $font-family;
    font-size: $font-size-m;
    font-weight: 400;
    margin: 0.5rem 0 2rem;
    max-width: 51rem;
    padding: 1.2rem;
    width: 100%;

    &:hover {
      font-weight: 450;
    }
  }

  &__placeholder--file {
    display: none;
  }
}
