@import '../../sass/variables';

$_button-background-color: #584dfc;
$_focus-hover-opacity: 0.8;

.radio-input {
  $this: &;

  display: inline-block;
  margin-right: $spacing-s;
  position: relative;
  white-space: nowrap;

  &__fake {
    border: 2px solid $color-radio-labels;
    border-radius: 50%;
    height: 2rem;
    position: absolute;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
    width: 2rem;

    &::before {
      background: $_button-background-color;
      border-radius: 50%;
      content: '';
      height: 1rem;
      left: 0.35rem;
      opacity: 0;
      position: absolute;
      top: 0.35rem;
      transition: all 0.3s ease;
      transition-property: transform, border-color;
      width: 1rem;
    }
  }

  input {
    opacity: 0;
    position: absolute;

    &:hover {
      + #{$this}__fake {
        border-color: $_button-background-color;
        opacity: $_focus-hover-opacity;
      }

      + #{$this}__fake::before {
        opacity: 1;
      }
    }

    &:focus {
      + #{$this}__fake {
        border-color: $_button-background-color;
        opacity: $_focus-hover-opacity;
      }

      + #{$this}__fake::before {
        opacity: 1;
      }
    }

    &:checked {
      + #{$this}__fake {
        border-color: $_button-background-color;
      }

      + #{$this}__fake::before {
        opacity: 1;
      }
    }
  }

  &__label {
    color: $color-labels;
    cursor: pointer;
    font-family: $font-family;
    font-weight: 700;
    margin-right: $spacing-xxxl;
    padding-left: $spacing-xxl;
    position: relative;
  }
}
