@import '../../sass/variables';

$_button-background-color: #584dfc;
$_color-labels: #5c5c5c;

.radio-input {
  $this: &;

  display: inline-block;
  margin-right: 1rem;
  position: relative;
  white-space: nowrap;

  &__fake {
    border: 2px solid $_color-labels;
    border-radius: 50%;
    height: 2rem;
    position: absolute;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
    width: 2rem;

    &::before {
      background: $_button-background-color;
      border-radius: 50%;
      content: '';
      height: 1rem;
      left: 0.35rem;
      position: absolute;
      top: 0.35rem;
      transform: scale(0);
      transition: all 0.3s ease;
      transition-property: transform, border-color;
      width: 1rem;
    }
  }

  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  input:checked {
    + #{$this}__fake {
      border-color: $_button-background-color;

      &::before {
        transform: scale(1);
      }
    }
  }

  &__label {
    color: $_color-labels;
    cursor: pointer;
    font-family: $font-family;
    font-weight: 700;
    padding-left: 4rem;
    position: relative;
  }
}
