.mediacard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;

  &__item {
    height: 24rem;
    width: calc(25% - 4rem * 3 / 4);

    &--extended {
      width: calc(50% - 4rem / 2);
    }
  }

  @media only screen and (max-width: 900px) {
    flex-wrap: wrap;
    height: 22rem;
    width: 100%;
  }
}
