@import '../../sass/variables';
@import '../../sass/base/typography';

.mediacard-container {
  display: flex;
  justify-content: center;

  &__error {
    color: var(--color-error);
  }

  &__gallery {
    width: 100%;
  }

  @media only screen and (max-width: 900px) {
    flex-wrap: wrap;
  }
}
