@import '../../sass/media-queries';
@import '../../sass/variables';

.schedule-container {
  display: grid;
  gap: $spacing-xxl;
  grid-template-columns: 1fr 1fr;

  @include media-query-desktop {
    grid-template-columns: 1fr;
  }

  &__left {
    align-content: start;
    display: grid;
    grid-template-columns: 1fr;
  }

  &__right {
    align-content: start;
    display: grid;
    grid-template-columns: 1fr;
  }

  &__title {
    font-size: map-get($map: $heading-all-levels, $key: h2);
    justify-self: center;
    margin: $spacing-xxl auto;
    width: fit-content;

    @each $key, $val in $themes {
      &--#{$key} {
        color: $val;
      }
    }
  }
}

.schedule-cards {
  display: grid;
  gap: $spacing-xxl;
  grid-template-columns: repeat(2, 1fr);

  @include media-query-mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}
