@import '../../sass/variables';

.question-card-header {
  &__action {
    background-color: $color-primary;
    border: 0;
    color: $color-white;
    display: flex;
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    justify-content: space-between;
    padding: $spacing-m;
    text-align: left;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    align-self: center;
    display: flex;
    flex-shrink: 0;
    margin-left: $spacing-xxl;
    transition: transform 0.1s ease-in-out;
    width: 2rem;

    &--rotated {
      transform: rotate(180deg);
    }
  }
}
